# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
README/cache

inst/doc

lib/
/lib/

cache/
README/cache/
vignettes/*-cache/
vignettes/facet-rep-label*
vignettes/geoms*
vignettes/gtable_show_lemonade*
vignettes/lemon_print*


Rgui.lnk
